{{ 'featured-products.css' | asset_url | stylesheet_tag }}

<section class="featured-products">
  <div class="container">

    <!-- Heading -->
    <div class="section-header text-{{ section.settings.heading_align }}">
      <h2 class="feature_heading size-{{ section.settings.heading_size }}"
        style="color: {{ section.settings.heading_color }};">
        {{ section.settings.heading }}
      </h2>
    </div>

    {% if section.settings.collection != blank %}
    {% assign featured_collection = collections[section.settings.collection] %}

    <div class="product_grid">
      {% for product in featured_collection.products limit: section.settings.products_to_show %}

      <div class="product_card text-{{ section.settings.products_align }}">

        {% if product.compare_at_price > product.price %}
        <span class="badge-sale">Sale</span>
        {% endif %}

        <a href="{{ product.url }}">

          {% if product.featured_image %}
          <div class="product-image">
            <img src="{{ product.featured_image | image_url: width: 800 }}" alt="{{ product.title | escape }}"
              loading="lazy">
          </div>
          {% endif %}

          <div class="product-info">
            <h3>{{ product.title }}</h3>

            <div class="price">
              {% if product.compare_at_price > product.price %}
              <span class="old-price">
                {{ product.compare_at_price | money }}
              </span>
              {% endif %}
              <span class="current-price">
                {{ product.price | money }}
              </span>
            </div>
          </div>

        </a>
      </div>

      {% endfor %}
    </div>

    {% else %}
    <p class="no-collection">Please select a collection in Theme Settings.</p>
    {% endif %}

  </div>
</section>
{% schema %}
{
"name": "Featured Products",
"settings": [

{
"type": "text",
"id": "heading",
"label": "Section Heading",
"default": "Featured Products"
},

{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "lg",
"options": [
{ "value": "sm", "label": "Small" },
{ "value": "md", "label": "Medium" },
{ "value": "lg", "label": "Large" },
{ "value": "xl", "label": "Extra Large" }
]
},


{
"type": "select",
"id": "heading_align",
"label": "Heading Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},

{
"type": "select",
"id": "products_align",
"label": "Products Content Alignment",
"default": "center",
"options": [
{ "value": "left", "label": "Left" },
{ "value": "center", "label": "Center" },
{ "value": "right", "label": "Right" }
]
},
{
"type": "collection",
"id": "collection",
"label": "Select Collection"
},
{
"type": "range",
"id": "products_to_show",
"label": "Products to show",
"min": 2,
"max": 12,
"step": 1,
"default": 4
}
],
"presets": [
{
"name": "Featured Products"
}
]
}
{% endschema %}